/**
 * ----------------------------------------------------------------------------
 * Editor CSS
 * ----------------------------------------------------------------------------
 */
.wp-block-gutenberg-extend-transform-block{
	text-transform: uppercase;
	color: #f00;
	background-color: #d7e6e3;
	padding: 20px;
	border-radius: 4px;
	border: 1px solid #f00;
}