/**
 * ----------------------------------------------------------------------------
 * Editor CSS
 * ----------------------------------------------------------------------------
 */
.post-list{
	padding: 20px;
}
.post-list ul li a {
	display: inline-block;
	box-shadow: none;
	color: #067390;
}
.post-list ul li {
	list-style: none;
}