/**
 * ----------------------------------------------------------------------------
 * Frontend CSS
 * ----------------------------------------------------------------------------
 */
.button-box a {	
	padding:5px 20px;
	box-shadow:none !important;
	min-width:100px;
	display:inline-block;
	cursor: pointer;
	-webkit-transition: all .3s;
	transition: all .3s;
	color: #ffffff;
	background: #000000;
	line-height: 1.8;
}
.btn-square-style a {	
	border:1px solid #ffffff;
}
.btn-default-style a{
	border-radius:5px;
}
.btn-circle-style a{
	border-radius:25px;
}
.btn-small-size{
	font-size:14px; 
	line-height:20px;
}
.btn-medium-size{
	font-size:18px; 
	line-height:24px;
}
.btn-large-size{
	font-size:22px; 
	line-height:28px;
}
.btn-extra-large-size{
	font-size:26px; 
	line-height:32px;
}
.button-box a:hover{
	opacity: 0.7;
}
.button-box-wrap{
	margin-bottom:10px;
}