.gutenberg-extend-admin-setting-common p{margin-bottom:10px;}
.gutenberg-extend-cover-upload-btn{position: absolute; z-index: 10; top: 40%; margin-top: -15px !important; margin-left: -50px !important; left: 50%;box-shadow: none !important;border: none !important;}
.gutenberg-extend-cover-upload-btn:hover{border: none;}