/**
 * ----------------------------------------------------------------------------
 * Frontend CSS
 * ----------------------------------------------------------------------------
 */
 
.wp-block-gutenberg-extend-inner-wrap-heading-block h1{
	font-size: 48px;
	line-height:50px;
}
.wp-block-gutenberg-extend-inner-wrap-heading-block h2{
	font-size: 40px;
	line-height:42px;
}
.wp-block-gutenberg-extend-inner-wrap-heading-block h3{
	font-size: 35px;
	line-height:40px;
}
.wp-block-gutenberg-extend-inner-wrap-heading-block h4{
	font-size: 30px;
	line-height:35px;
}
.wp-block-gutenberg-extend-inner-wrap-heading-block h5{
	font-size: 20px;
	line-height:26px;
}
.wp-block-gutenberg-extend-inner-wrap-heading-block h6{
	font-size: 16px;
	line-height:20px;
}
.wp-block-gutenberg-extend-heading-block{
	padding: 20px;
}
.wp-block-gutenberg-extend-inner-wrap-heading-block.heading-none{
	text-transform: none;
}
.wp-block-gutenberg-extend-inner-wrap-heading-block.heading-capitalize{
	text-transform: capitalize;
}
.wp-block-gutenberg-extend-inner-wrap-heading-block.heading-uppercase{
	text-transform: uppercase;
}
.wp-block-gutenberg-extend-inner-wrap-heading-block.heading-lowercase{
	text-transform: lowercase;
}